.metadata/.plugins/org.eclipse.core.resources/.root
.metadata
RemoteSystemsTempFiles
.classpath
.project
.idea/
compint.iml
/target/
.settings
.ipynb_checkpoints
*.class
champ2010client-java/classes/*
.pydevproject
logs/
*.pyc
trained_files/pybrain.pkl
*.p
*.mem
*.pkl
*.log
*.txt
